@charset "utf-8";

#container {
	width: 1024px;
	margin: auto;
}

#step_container{
	width: 600px;
	margin: auto;
	padding-top: 25px;
}


#summary {
	text-align: center;
	width: 600px;
	margin: auto;
}

#drawArea {
	
}

h1 {
	font-family: 'Nova Oval', cursive;
	font-size:105px;
	color:#424242;
	text-align:center;
	margin-bottom: 0;
	font-weight: 800;
	margin-top: 25px;
}

h2 {
	font-size: 40px;
	margin-bottom: 0;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 200;
}

#path {
	width: 380px;
	height: 35px;
}

body {
	font-size: 16px;
	background-size: cover;
	background-color:#FAFAFA;
	line-height: 1.5;
	color: #4d4d4d;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	position: relative;
	color: #757575;
}

html {
	overflow: auto;
}

.footer p {
	clear: both;
	text-align: center;
	padding: 50px 0;
	font-size: 13px;
	margin-top: -2%;
}

.top {
	text-align:center;
	padding-bottom: 10px;
}
.top p {
	clear: both;
	padding: 0px 0;
	font-size: 14px;
}

.divider_line {
	display: block;
	width: 100%;
	border-top: 0.5px solid #E3E3E3;
}

.label {
	font-size: 16px;
}

.count {
	font: 500 76px "Helvetica Neue";
	fill: #ddd;
}

.mainCopy {
	font-size: 20px;
	text-align: center;
}

table {
	border-spacing: 0;
}

.bordered {
	margin: auto;
}

.bordered td, .bordered th {
	border-top: 1px solid #ccc;
	padding: 10px;
}

.bordered td:first-child, .bordered th:first-child {
	border-left: none;
	border-right: none;
}

.bordered tr:hover {
	background: #fbf8e9;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.bordered>tbody>tr:last-child>td {
	border-bottom: 1px solid #ccc;
}

#loading2 {
	display: none
}

#loading, #loading2 {
	width: 120px;
	height: 120px;
	margin: auto;
	position: fixed;
	top: 40%;
	left: 45%;
	z-index: 100;
	opacity: 0.8;
}

#text {
	width: 450px;
	font-size: 15px;
}

#simcount {
	text-align: center;
	width: 100px;
	font-size: 15px;
}

#fontsim {
	font-size: 28px;
}

#file {
	display: None;
}

#run {
	margin: auto;
}

#dialog {
	display: none;
}

#alpha, #beta, #topic {
	background-color:#FAFAFA;
	width: 30px;
	border: 1px solid #e3e3e3;
	color: #424242;
	
}

#iter {
	width: 42px;
}

#nword {
	width: 35px;
}

#setting-form {
	width: 570px;
	margin: auto;
	border: 1px solid #e74c3c;
	padding: 19px;
	min-height: 20px;
	color: #757575;
}

#number {
	font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue",
		"Helvetica", "Arial", "Verdana", "sans-serif";
	margin-right: -35%;
	font-size: 75px;
	text-align: center;
	font-weight: 400;
}

#ranktext {
	width: 500px;
	font-size: 16px;
}

#rankscore {
	font-size: 26px;
	text-align: center;
}

#dl-div {
	text-align: center;
}

#setting, #btn-upload, #btn-run {
	color:#ffffff;
	height: 45px;
}
#btn-run {
	margin-left: 3px;
}

li {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

#text-word {
	font-size: 19px;
	color: #3498DB;
}

.td-item {
	text-align: center;
}

img.stepbtn {
	vertical-align: middle;
}

img.icon {
	vertical-align: middle;
	padding-bottom: 20px;
	padding-right:10px;
	width:130px;
	height:105px; 
}

p {
	color:#757575;
	font-size: 14px;
	margin-top: 0;
}

#summary-div {
	text-align: center;
	font-weight: 500;
	margin-top: 5%;
	margin-left: 4%;
	margin-bottom: 15px;
	font-size: 35px;
}

#step-div {
	font-weight: 600;
	font-size: 30px;
	margin-top: 2%;
}

#topicnum {
	margin-top: -5%;
	text-align: center;
	color: #999;
}

p.version {
	font-size: 13px;
	text-align: center
}
#path {
	height:41px;
	border: 1px solid #e74c3c;
	color:#757575;
}